<div class="game-scoreboard">

    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    <header>
        <div class="game-header">
            <h2 class="game-title hidden-xs hidden-sm">{{game.name}}</h2>
            <h4 class="game-title visible-sm-inline-block">{{game.name}}</h4>
            <p class="game-title visible-xs-inline-block"><strong>{{game.name}}</strong></p>
            <!--
            <p class="game-host">Hosted by: {{game.host.displayName}}</p>
            <p class="game-host">Started: {{game.started| formatMySQLDate}}</p>
            <p class="game-host">Ended: {{game.ended| formatMySQLDate}}</p>-->
        </div>
    </header>

    <section>

        <div id="scoreboard-navigation">
            <div data-rc-trivia-scoreboard-round-navigation class="game-round-navigation"></div>
        </div>
        
        <table id="scoreboard" data-datatable="ng" data-dt-options="dtScoreboard.options" data-dt-instance="dtScoreboard.instance">
            <thead>
                <tr>
                    <th><p>Team Name</p></th>
                    <th><p class="text-center">Round Score</p></th>
                    <th><p class="text-center">Round Rank</p></th>
                    <th><p class="text-center">Game Score</p></th>
                    <th><p class="text-center">Game Rank</p></th>

                    <th class="question" ng-repeat="question in game.rounds[game.currentRoundNumber].questions">
                        <p class="text-center"><strong>#{{question.number}} - {{question.maxPoints | numberEx}} pts</strong></p>
                        <p ng-if="question.question">{{question.question}}</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in game.teams" data-team-id="{{team.teamId}}">
                    <th class="team"><p>{{team.name}}</p></th>
                    <th class="round-score"><p class="text-center">{{team.rounds[game.currentRoundNumber].roundScore | numberEx}}</p></th>
                    <th class="round-rank"><p class="text-center">{{team.rounds[game.currentRoundNumber].roundRank}}</p></th>
                    <th class="game-score"><p class="text-center">{{team.gameScore | numberEx}}</p></th>
                    <th class="game-rank"><p class="text-center">{{team.gameRank}}</p></th>

                    <td class="question-score" ng-repeat="teamScore in team.rounds[game.currentRoundNumber].questions" data-question-id="{{teamScore.questionId}}">
                        <strong>{{teamScore.questionScore| numberEx}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <footer>
        <address>
            <small>
            <strong>About This Game</strong><br>
            {{game.name}}<br/>
            <abbr title="Venue">Venue</abbr> {{game.venue}}<br/>
            <abbr title="Host">Host:</abbr> {{game.hostName}}<br/>
            <abbr title="Scheduled">Scheduled:</abbr> {{game.scheduled | formatMySQLDate}}<br/>
            <abbr title="Started">Started:</abbr> {{game.started | formatMySQLDate}}<br/>
            <abbr title="Ended">Ended:</abbr> {{game.ended | formatMySQLDate}}<br/>
            </small>
        </address>
    </footer>
</div>