<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li 
            ng-repeat="round in game.rounds" 
            ng-class="{'active' : game.round.roundNumber == round.roundNumber}" 
            class="paginate_button">
            <a ng-click="buttonViewRound(round.roundNumber)">{{round.roundNumber}}</a>
        </li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>