<div class="game-scoreboard">
    
    <header>
        <div class="game-header">
            <h1 class="game-title">{{game.name}}</h1>
            <p class="game-host">Hosted by: {{game.host.displayName}}</p>
        </div>
        <div class="game-round-navigation" data-rc-trivia-scoreboard-round-navigation></div>
    </header>
    
    <section>
        <table class="scoreboard">
            <thead>
                <tr>
                    <th>Teams:</th>
                    <th ng-repeat="question in game.round.questions" data-team-id="{{question.questionId}}">
                        #{{question.questionId}} — {{question.question}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in game.round.teams" data-team-id="{{team.teamId}}">
                    <td class="team">{{team.team}}</td>
                    <td class="question-score" ng-repeat="teamScore in team.scores" data-question-id="{{teamScore.questionId}}">
                        <table class="score-control">
                            <tr>
                                <td>
                                    <button 
                                        ng-click="buttonQuestionWrong(teamScore.questionId, teamScore.questionScore)" 
                                        type="button" 
                                        class="btn btn-danger btn-sm btn-round">
                                        <i class="fa fa-ban"></i>
                                    </button>
                                </td>
                                <td>
                                    <input 
                                        type="number" 
                                        class="form-control input-sm" 
                                        data-string-to-number 
                                        ng-model="teamScore.questionScore" 
                                        min="0">
                                </td>
                                <td>
                                    <button 
                                        ng-click="buttonQuestionCorrect(teamScore.questionId, teamScore.questionScore)" 
                                        type="button" 
                                        class="btn btn-success btn-sm btn-round">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <footer>
        <div></div>
        <div></div>
    </footer>
</div>