<div class="game-scoreboard">

        <header>
            <div class="game-header">                
                <h2 class="game-title hidden-xs hidden-sm">{{game.name}}</h2>
                <h4 class="game-title visible-sm-inline-block">{{game.name}}</h4>
                <p class="game-title visible-xs-inline-block"><strong>{{game.name}}</strong></p>
                
                <!--
                <p class="game-host">Hosted by: {{game.host.displayName}}</p>
                <p class="game-host">Started: {{game.started| formatMySQLDate}}</p>
                <p class="game-host">Ended: {{game.ended| formatMySQLDate}}</p>-->
            </div>
        </header>

        <section>
            
            <div id="scoreboard-navigation">

                <div data-rc-trivia-scoreboard-round-navigation
                     data-total-rounds="game.rounds.length" 
                     data-current-round-number="game.round.roundNumber"
                     data-view-round-event="buttonViewRound"
                     class="game-round-navigation"></div>
                    
                
                <div class="host-actions">
                    <div id="wide-menu" class="visible-lg-block">
                        <button ng-click="buttonAddTeam()" type="button" class="btn btn-primary btn-sm">Add Team</button>
                        <button ng-click="buttonAddPlayer()" type="button" class="btn btn-primary btn-sm">Add Player</button>

                        <button ng-click="buttonAddRound()" type="button" class="btn btn-primary btn-sm">Add Round</button>
                        <button ng-click="buttonAddQuestion()" type="button" class="btn btn-primary btn-sm">Add Question</button>

                        <button ng-click="buttonSaveGame()" type="button" class="btn btn-primary btn-sm">Save and Publish</button>
                        <button ng-click="buttonEndGame()" type="button" class="btn btn-primary btn-sm">Save and End Game</button>
                    </div>
                    
                    <div id="mobile-menu" class="btn-group hidden-lg" 
                         uib-dropdown is-open="scoreboardNavHamburger.isopen" aria-haspopup="true" aria-expanded="true">
                        <button type="button" class="btn btn-primary" uib-dropdown-toggle aria-label="Scoreboard Menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a ng-click="buttonAddTeam()" href="#">Add Team</a></li>
                            <li role="menuitem"><a ng-click="buttonAddPlayer()" href="#">Add Player</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a ng-click="buttonAddRound()" href="#">Add Round</a></li>
                            <li role="menuitem"><a ng-click="buttonAddQuestion()" href="#">Add Question</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a ng-click="buttonSaveGame()" href="#">Save and Publish</a></li>
                            <li role="menuitem"><a ng-click="buttonEndGame()" href="#">Save and End Game</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            
            <table id="scoreboard" datatable="ng" dt-options="dtScoreboard.options">
                <thead>
                    <tr>
                        <th><p>Team Name</p></th>
                        <th ng-repeat="question in game.round.questions" data-team-id="{{question.questionId}}" title="Question #{{question.questionNumber}} - {{question.question}}">
                            <p class="text-center"><strong>#{{question.questionNumber}} - {{question.maxPoints | numberEx}} pts</strong></p>
                            <!--<p ng-if="question.question">{{question.question}}</p>-->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in game.round.teams" data-team-id="{{team.teamId}}">
                        <td class="team"><p>{{team.team}}</p></td>
                        <td class="question-score" ng-repeat="teamScore in team.scores" data-question-id="{{teamScore.questionId}}">
                            
                            <div class="input-group input-group-sm">
                                <span class="input-group-btn">
                                    <button 
                                        ng-click="buttonQuestionWrong(team.teamId, teamScore.questionId)"
                                        class="btn btn-warning" 
                                        type="button"><i class="fa fa-ban"></i></button>
                                </span>
                                <input 
                                    ng-model="teamScore.questionScore" 
                                    data-string-to-number 
                                    type="number" 
                                    class="form-control" 
                                    min="0">
                                <span class="input-group-btn">
                                    <button 
                                        ng-click="buttonQuestionCorrect(team.teamId, teamScore.questionId)" 
                                        class="btn btn-success" 
                                        type="button"><i class="fa fa-check"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <footer>
            <div></div>
            <div></div>
        </footer>
    </div>