<div class="game-rounds" ng-repeat="round in game.rounds">

    <div class="game-round">
        {{round.name}}

        <div class="form-group">
            <label>Max Points</label>
            <input type="number" class="form-control" value="5">
        </div>

        <div class="score-list" ng-repeat="score in round.scores">

            <div class="team-score" data-team-id="{{score.teamId}}">
                {{score.score}}
                <table>
                    <tr>
                        <td><button type="button" class="btn btn-warning btn-sm"><i class="fa fa-minus"></i></button></td>
                        <td><input type="number" class="form-control input-sm" data-string-to-number ng-model="score.score" min="0"></td>
                        <td><button type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</div>