<div class="game-scoreboard">

    <header>
        <div class="game-header">
            <h2 class="game-title hidden-xs hidden-sm">{{game.name}}</h2>
            <h4 class="game-title visible-sm-inline-block">{{game.name}}</h4>
            <p class="game-title visible-xs-inline-block"><strong>{{game.name}}</strong></p>
            <!--
            <p class="game-host">Hosted by: {{game.host.displayName}}</p>
            <p class="game-host">Started: {{game.started| formatMySQLDate}}</p>
            <p class="game-host">Ended: {{game.ended| formatMySQLDate}}</p>-->
        </div>
    </header>

    <section>

        <div id="scoreboard-navigation">

            <div data-rc-trivia-scoreboard-round-navigation
                 data-total-rounds="game.rounds.length" 
                 data-current-round-number="game.round.roundNumber"
                 data-view-round-event="buttonViewRound"
                 class="game-round-navigation"></div>
                 
        </div>
        
        <table id="scoreboard" datatable="ng" dt-options="dtScoreboard.options">
            <thead>
                    <tr>
                        <th><p>Team Name</p></th>
                        <th ng-repeat="question in game.round.questions" data-team-id="{{question.questionId}}" title="Question #{{question.questionNumber}} - {{question.question}}">
                            <p class="text-center"><strong>#{{question.questionNumber}} - {{question.maxPoints | numberEx}} pts</strong></p>
                            <!--<p ng-if="question.question">{{question.question}}</p>-->
                        </th>
                    </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in game.round.teams" data-team-id="{{team.teamId}}">
                    <td class="team"><p>{{team.team}}</p></td>
                    <td class="question-score" ng-repeat="teamScore in team.scores" data-question-id="{{teamScore.questionId}}">
                        <strong>{{teamScore.questionScore| numberEx}} / {{game.round.maxPoints | numberEx}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <footer>
        <div></div>
        <div></div>
    </footer>
</div>