<div class="game-scoreboard">

    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    <header>
        <div class="game-header">
            <h2 class="game-title hidden-xs hidden-sm">{{game.name}}</h2>
            <h4 class="game-title visible-sm-inline-block">{{game.name}}</h4>
            <p class="game-title visible-xs-inline-block"><strong>{{game.name}}</strong></p>
        </div>
    </header>

    <section>

        <div id="scoreboard-navigation">
            <div data-rc-trivia-scoreboard-round-navigation class="game-round-navigation"></div>
        </div>
        
        <!--<table id="scoreboard" 
               data-datatable="ng" 
               data-dt-options="dtScoreboard.options" 
               data-dt-instance="dtScoreboard.instance">
            <thead>
                <tr>
                    <th>
                        <p>Round #{{game.round.number}}
                            <span ng-show="game.round.name"> -<br/>"{{game.round.name}}"</span></p>
                        <p>Team Name</p>
                    </th>
                    <th><p class="text-center">Game<br/>Score / Rank</p></th>
                    <th><p class="text-center">Round #{{game.round.number}}<br/>Score / Rank</p></th>

                    <th class="question" ng-repeat="question in game.rounds[game.currentRoundNumber].questions">
                        <p class="text-center"><strong>#{{question.number}} - {{question.maxPoints | numberEx}} pts</strong></p>
                        <p ng-if="question.question">{{question.question}}</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in game.teams track by $index" data-team-id="{{team.teamId}}">
                    <th class="team"><p>{{team.name}}</p></th>
                    <th class="game-score text-center">{{team.gameScore | numberEx}} / {{team.gameRank}}</th>
                    <th class="round-score text-center">{{team.rounds[game.currentRoundNumber].roundScore | numberEx}} / {{team.rounds[game.currentRoundNumber].roundRank}}</th>

                    <td class="question-score" ng-repeat="teamScore in team.rounds[game.currentRoundNumber].questions" data-question-id="{{teamScore.questionId}}">
                        <div ng-if="getQuestionType(teamScore.number) === 'wager'">
                            <p><strong>Answer</strong>: "{{teamScore.answer}}"</p>
                            <strong>Wager</strong>: {{teamScore.teamWager| numberEx}}<br/>
                            <strong>{{(teamScore.questionScore === teamScore.teamWager) ? 'Correct' : 'Incorrect'}}</strong><br/>
                            <strong>Score</strong>: {{teamScore.questionScore| numberEx}}
                        </div>
                        <div ng-if="getQuestionType(teamScore.number) !== 'wager'">{{teamScore.questionScore| numberEx}}</div>
                    </td>
                </tr>
            </tbody>
        </table>-->

      

    </section>
    <div class="grid grid-dark" ui-grid="uiGames.options" ng-style="getTableHeight()" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-resize>
        <div class="no-rows-ui-grid" ng-show="!uiGames.options.data.length">
            <div class="msg">
                <span>No data available in table</span>
            </div>
        </div>
    </div>

    <footer id="scoreboard-about-game">
        <address>
            <small>
            <strong>About This Game</strong><br>
            <abbr title="Name of the Game.">Name</abbr> {{game.name}}<br/>
            <abbr title="Venue or Joint where the game is hosted.">Joint:</abbr> {{game.venue}}<br/>
            <abbr title="The host of the game.">Host:</abbr> {{game.hostName}}<br/>
            <abbr title="The game is Scheduled">Scheduled:</abbr> {{game.scheduled | formatMySQLDate}}<br/>
            <span ng-show="game.started"><abbr title="The game has Started">Started:</abbr> {{game.started | formatMySQLDate}}<br/></span>
            <span ng-show="game.ended"><abbr title="The game has Ended">Ended:</abbr> {{game.ended | formatMySQLDate}}<br/></span>
            </small>
        </address>
    </footer>
</div>
<script type="text/ng-template" id="subgrid">
    <div class="grid" ui-grid-expandable ui-grid="row.entity.subGridOptions">
    </div>

</script>