<div class="game-round">
    <div class="question" ng-repeat="question in game.round.questions">

        <div class="question-header">
            <p># {{question.questionNumber}}</p>
            <p>{{question.question}}</p>
        </div>
        
        <div class="team-score" ng-repeat="score in question.scores">
            <table>
                <tr>
                    <td><button type="button" class="btn btn-danger btn-sm btn-round"><i class="fa fa-ban"></i></button></td>
                    <td><input type="number" class="form-control input-sm" data-string-to-number ng-model="score.score" min="0"></td>
                    <td><button type="button" class="btn btn-success btn-sm btn-round"><i class="fa fa-check"></i></button></td>
                </tr>
            </table>
        </div>

    </div>
</div>