<div class="modal-header">
    <h3 ng-if="newMode" class="modal-title">New Trivia Joint</h3>
    <h3 ng-if="!newMode && editMode" class="modal-title">Edit Trivia Joint #{{saved.id}} - {{saved.venue}}</h3>
    <h3 ng-if="!newMode && !editMode" class="modal-title">Trivia Joint #{{saved.id}} - {{saved.venue}}</h3>
</div>

<div class="modal-body">

    <div data-rc-bootstrap-alerts="alertProxy"></div>

    <div ng-if="!editMode">

        <div class="row">
            
            <div class="col-xs-12">
                
                <img ng-src="{{saved.logo}}" class="img-responsive pull-right" style="max-height: 100px; max-width: 100px;" />
                    
                <div class="form-group">
                    <label>Joint Name</label>
                    <p class="form-control-static">{{saved.venue}}</p>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label>Address</label>
                    <p class="form-control-static">{{saved.address}}</p>
                    <p ng-show="saved.addressb" class="form-control-static">{{saved.addressb}}</p>
                    <p class="form-control-static">{{saved.city}}, {{saved.state}} {{saved.zip}}</p>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label>Joint Phone</label>
                    <p class="form-control-static">{{saved.phone}}<span ng-show="saved.phoneExtension"> Ext. {{saved.phoneExtension}}</span></p>
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Joint Hours</label>
                    <p class="form-control-static">{{saved.triviaDay}} at {{saved.triviaTime}}</p>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Joint Website</label>
                    <p class="form-control-static"><a href="{{saved.website}}" target="_blank">{{saved.website}}</a></p>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Joint Facebook Page</label>
                    <p class="form-control-static"><a href="{{saved.facebook}}" target="_blank">{{saved.facebook}}</a></p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Joint Referral Code</label>
                    <p class="form-control-static"><code ng-show="saved.referralCode">{{saved.referralCode}}</code></p>
                </div>
            </div>
            
            
        </div>

        <div class="meta" ng-if="!newMode && (saved.created || saved.lastUpdated)">
            <hr/>
            <p ng-show="saved.created" class="text-muted"><strong>Created:</strong> {{saved.created | formatMySQLDate}} <span ng-show="saved.createdBy">by {{saved.createdBy}}</span></p>
            <p ng-show="saved.lastUpdated" class="text-muted"><strong>Updated:</strong> {{saved.lastUpdated | formatMySQLDate}} <span ng-show="saved.updatedBy">by {{saved.updatedBy}}</span></p>
        </div>

    </div>

    <form ng-if="editMode" name="form.modalForm" role="form" novalidate>

        <div data-rc-bootstrap-alerts="alertProxy"></div>

        <div class="form-group row">
            <div class="col-xs-12">
                <input ng-model="editing.venue" type="text" class="form-control" name="venueName" placeholder="Joint Name" maxlength="255" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-6">
                <input ng-model="editing.address" type="text" class="form-control" name="address" placeholder="Joint Address" maxlength="255" required>
            </div>
            <div class="col-xs-6">
                <input ng-model="editing.addressb" type="text" class="form-control" name="addressb" placeholder="Joint Address Con't" maxlength="255">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-6">
                <input ng-model="editing.city" type="text" class="form-control" name="city" placeholder="Joint City" maxlength="255" required>
            </div>

            <div class="col-xs-3">
                <select rc-drop-down-states ng-model="editing.state" class="form-control" required>
                    <option value="">State</option>
                </select>
            </div>

            <div class="col-xs-3">
                <input ng-model="editing.zip" type="text" class="form-control" name="zip" placeholder="Zip" maxlength="255" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="Joint Phone" ng-model="editing.phone" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ui-options="{clearOnBlur: false}" ng-model-options="{ updateOn: 'blur' }" ng-change="handlePhoneChangeEvent(editing.phone)" required />
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Ext" ng-model="editing.phoneExtension" ui-mask="999" ui-mask-placeholder ui-mask-placeholder-char="_" />
            </div>
        </div>
        <div ng-if="showPhoneValidation" class="form-group">
            <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">
                    <p>Phone Number is Invalid.</p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6" style="padding-top:24px;">
                <select rc-drop-down-days ng-model="editing.triviaDay" class="form-control" required>
                    <option value="">Trivia Day</option>
                </select>
            </div>
            <div class="col-xs-6">
                <uib-timepicker ng-model="editing.triviaTimeDate" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-6">
                <input ng-model="editing.website" type="text" class="form-control" name="website" placeholder="Joint Website (http://...)" maxlength="255">
            </div>
            <div class="col-xs-6">
                <input ng-model="editing.facebook" type="text" class="form-control" name="facebook" placeholder="Joint Facebook Page (http://...)" maxlength="255">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12">
                <input ng-model="editing.referralCode" type="text" class="form-control" name="referralCode" placeholder="Referral Code" maxlength="255">
            </div>
        </div>

        <div rc-image-upload-with-editor="venueLogo"
             saved-image-data-url="savedImageDataUrl"
             data-label-input="Upload Venue Logo"
             data-label-browse-button="Select Logo"
             data-label-crop-area="Crop Your Logo"
             data-label-crop-preview="Logo Preview"></div>
        
        <div data-rc-bootstrap-alerts="alertProxy"></div>

    </form>

</div>

<div ng-if="!editMode" class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="buttonEdit()">Edit</button>
    <button class="btn btn-primary" ng-click="buttonCancel()">Done</button>
</div>

<div ng-if="editMode" class="modal-footer">
    <!--<button class="btn btn-warning pull-left" ng-if="!newMode" ng-click="buttonDelete()">Delete</button>-->
    
    <button class="btn btn-default pull-left" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="newMode" ng-click="buttonNew()">Add</button>
    <button class="btn btn-primary" ng-if="!newMode" ng-click="buttonSave()">Save</button>
</div>