/*
 * Main Constructor Less File
 * 
 * Contains imports for all other less files and 
 * guarantees that they are imported in a set order.
 */
/*
  * Less Named Colors
  * 
  * Color and sometimes size variables used by other less files.
  * http://lesscss.org/features/#variables-feature
  */
/*
  * Less Mixins
  * 
  * Mixins to be used as shortcuts by other less files.
  * http://lesscss.org/features/#mixins-feature
  */
.mixin-fadeIn {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.mixin-fadeOut {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.mixin-fadeOut:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.mixin-fade-between-colors {
  -webkit-transition: color 0.5s, background 0.5s;
  -moz-transition: color 0.5s, background 0.5s;
  -ms-transition: color 0.5s, background 0.5s;
  -o-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}
/*
  * Animation Mixins
  * 
  * Mixins for animations to be used as shortcuts by other less files.
  * http://lesscss.org/features/#mixins-feature
  */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg);
  }
  10% {
    -webkit-transform: skewX(-8deg);
  }
  20% {
    -webkit-transform: skewX(7deg);
  }
  30% {
    -webkit-transform: skewX(-6deg);
  }
  40% {
    -webkit-transform: skewX(5deg);
  }
  50% {
    -webkit-transform: skewX(-4deg);
  }
  60% {
    -webkit-transform: skewX(3deg);
  }
  70% {
    -webkit-transform: skewX(-2deg);
  }
  80% {
    -webkit-transform: skewX(1deg);
  }
  90% {
    -webkit-transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.wiggle:hover {
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
.animated.wiggle {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
/*
 * Form Styles
 * 
 * Form and form element style overrides.
 */
form.ng-dirty .form-control.ng-invalid,
form .form-control.ng-dirty.ng-invalid {
  border-color: #c9302c;
  background-color: #f4cecd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.uib-timepicker .btn-link {
  padding: 1px 12px;
}
.image-editior .btn-file {
  position: relative;
  overflow: hidden;
}
.image-editior .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.image-editior img-crop {
  width: 100%;
  min-height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #cccccc;
  border: 1px solid white;
}
.image-editior img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
.image-editior .preview-image {
  height: 200px;
  width: 100%;
}
.image-editior .preview-image img {
  margin: 0 auto;
}
/*
 * Image Styles
 * 
 * 
 */
img.img-thumbnail {
  margin: 20px;
}
img.img-thumbnail.top {
  margin-top: 0;
}
img.img-thumbnail.bottom {
  margin-bottom: 0;
}
img.img-thumbnail.left,
img.img-thumbnail.pull-left {
  margin-left: 0;
}
img.img-thumbnail.right,
img.img-thumbnail.pull-right {
  margin-right: 0;
}
img.img-thumbnail.no-margin {
  margin: 0;
}
/*
 * Table Styles
 * 
 * DataTable and standard Table style overrides.
 */
table.dataTable {
  border-bottom: 1px solid #e3e3e3;
}
table.dataTable thead {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
table.dataTable thead tr th {
  font-size: .9em;
  padding: 8px 4px 4px;
  white-space: nowrap;
  /* Sorting Icon */
  /* End: Sorting Icon */
}
table.dataTable thead tr th.sorting,
table.dataTable thead tr th.sorting_asc,
table.dataTable thead tr th.sorting_desc,
table.dataTable thead tr th.sorting_asc_disabled,
table.dataTable thead tr th.sorting_desc_disabled {
  padding-right: 25px;
}
table.dataTable thead tr th.sorting:after,
table.dataTable thead tr th.sorting_asc:after,
table.dataTable thead tr th.sorting_desc:after,
table.dataTable thead tr th.sorting_asc_disabled:after,
table.dataTable thead tr th.sorting_desc_disabled:after {
  bottom: 4px;
  right: 8px;
}
table.dataTable tbody tr {
  /* Responsive Controls */
  /* Responsive sub table */
}
table.dataTable tbody tr td.responsive-control i.fa:before {
  content: "\f105";
}
table.dataTable tbody tr.parent td.responsive-control i.fa:before {
  content: "\f107";
}
table.dataTable tbody tr.child {
  padding: 0;
  border-left: 2px solid #e3e3e3;
}
table.dataTable tbody tr.child td.child {
  padding: 0;
}
table.dataTable tbody tr.child td.child table.sub-table {
  margin: 0;
}
table.dataTable tbody tr td {
  padding: 4px;
}
/*
 * Typography Styles
 * 
 * General typography and text elements style overrides.
 */
.ng-cloak {
  display: none !important;
}
body {
  background-color: #880000;
  background-image: url('/media/images/trivia-background.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
body panel,
body .well {
  color: #333;
}
body.admin {
  background: #fff;
}
body.admin .layout.admin .container {
  color: #333;
}
.page-header,
hr {
  border-color: #6f0000;
}
.modal-content {
  background-color: #47413a;
}
.modal-content .modal-header {
  border-color: #39342f;
}
.modal-content .modal-footer {
  border-color: #39342f;
}
.dropdown-menu {
  color: #fff;
  background-color: #47413a;
}
.dropdown-menu > li.divider {
  background-color: #39342f;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #39342f;
}
.auth .container .logo {
  padding: 30px 0 50px;
}
.auth .container .list-group-item label {
  color: #000;
}
.align-right,
.alignRight,
.text-right,
.textRight {
  text-align: right;
}
.align-center,
.alignCanter,
.text-center,
.textCenter {
  text-align: center;
}
.align-left,
.alignLeft,
.text-left,
.textLeft {
  text-align: left;
}
.clear-both,
.clearBoth {
  clear: both;
}
.clear-left,
.clearLeft {
  clear: left;
}
.clear-right,
.clearRight {
  clear: right;
}
.alert {
  padding: 7px 7px 7px 14px;
  margin-bottom: 10px;
}
.modal-body .meta {
  font-size: .9em;
}
.modal-body .meta hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.modal-body .meta p {
  margin: 0 0 5px;
}
/* CSS Styles for Bootstrap Circle Buttons */
.btn-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-round.btn-lg {
  width: 48px;
  height: 48px;
}
.btn-round.btn-sm {
  width: 34px;
  height: 34px;
}
.btn-round.btn-xs {
  width: 24px;
  height: 24px;
}
/* Button overrides to make the primary buttons orange for this theme */
.btn-link {
  color: #f0ad4e;
}
.btn-link:focus,
.btn-link:hover {
  color: #ec971f;
}
.btn.btn-danger,
.btn.btn-primary,
.open > .dropdown-toggle.btn-danger,
.open > .dropdown-toggle.btn-primary,
.dropdown-toggle.btn-danger,
.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #bb0000;
  border-color: #d40000;
}
.btn.btn-danger:hover,
.btn.btn-primary:hover,
.open > .dropdown-toggle.btn-danger:hover,
.open > .dropdown-toggle.btn-primary:hover,
.dropdown-toggle.btn-danger:hover,
.dropdown-toggle.btn-primary:hover,
.btn.btn-danger.focus,
.btn.btn-primary.focus,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-primary.focus,
.dropdown-toggle.btn-danger.focus,
.dropdown-toggle.btn-primary.focus,
.btn.btn-danger:focus,
.btn.btn-primary:focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-primary:focus,
.dropdown-toggle.btn-danger:focus,
.dropdown-toggle.btn-primary:focus,
.btn.btn-danger:active,
.btn.btn-primary:active,
.open > .dropdown-toggle.btn-danger:active,
.open > .dropdown-toggle.btn-primary:active,
.dropdown-toggle.btn-danger:active,
.dropdown-toggle.btn-primary:active {
  color: #fff;
  background-color: #a20000;
  border-color: #bb0000;
}
.btn.btn-danger:hover:hover,
.btn.btn-primary:hover:hover,
.open > .dropdown-toggle.btn-danger:hover:hover,
.open > .dropdown-toggle.btn-primary:hover:hover,
.dropdown-toggle.btn-danger:hover:hover,
.dropdown-toggle.btn-primary:hover:hover,
.btn.btn-danger.focus:hover,
.btn.btn-primary.focus:hover,
.open > .dropdown-toggle.btn-danger.focus:hover,
.open > .dropdown-toggle.btn-primary.focus:hover,
.dropdown-toggle.btn-danger.focus:hover,
.dropdown-toggle.btn-primary.focus:hover,
.btn.btn-danger:focus:hover,
.btn.btn-primary:focus:hover,
.open > .dropdown-toggle.btn-danger:focus:hover,
.open > .dropdown-toggle.btn-primary:focus:hover,
.dropdown-toggle.btn-danger:focus:hover,
.dropdown-toggle.btn-primary:focus:hover,
.btn.btn-danger:active:hover,
.btn.btn-primary:active:hover,
.open > .dropdown-toggle.btn-danger:active:hover,
.open > .dropdown-toggle.btn-primary:active:hover,
.dropdown-toggle.btn-danger:active:hover,
.dropdown-toggle.btn-primary:active:hover,
.btn.btn-danger:hover.focus,
.btn.btn-primary:hover.focus,
.open > .dropdown-toggle.btn-danger:hover.focus,
.open > .dropdown-toggle.btn-primary:hover.focus,
.dropdown-toggle.btn-danger:hover.focus,
.dropdown-toggle.btn-primary:hover.focus,
.btn.btn-danger.focus.focus,
.btn.btn-primary.focus.focus,
.open > .dropdown-toggle.btn-danger.focus.focus,
.open > .dropdown-toggle.btn-primary.focus.focus,
.dropdown-toggle.btn-danger.focus.focus,
.dropdown-toggle.btn-primary.focus.focus,
.btn.btn-danger:focus.focus,
.btn.btn-primary:focus.focus,
.open > .dropdown-toggle.btn-danger:focus.focus,
.open > .dropdown-toggle.btn-primary:focus.focus,
.dropdown-toggle.btn-danger:focus.focus,
.dropdown-toggle.btn-primary:focus.focus,
.btn.btn-danger:active.focus,
.btn.btn-primary:active.focus,
.open > .dropdown-toggle.btn-danger:active.focus,
.open > .dropdown-toggle.btn-primary:active.focus,
.dropdown-toggle.btn-danger:active.focus,
.dropdown-toggle.btn-primary:active.focus,
.btn.btn-danger:hover:focus,
.btn.btn-primary:hover:focus,
.open > .dropdown-toggle.btn-danger:hover:focus,
.open > .dropdown-toggle.btn-primary:hover:focus,
.dropdown-toggle.btn-danger:hover:focus,
.dropdown-toggle.btn-primary:hover:focus,
.btn.btn-danger.focus:focus,
.btn.btn-primary.focus:focus,
.open > .dropdown-toggle.btn-danger.focus:focus,
.open > .dropdown-toggle.btn-primary.focus:focus,
.dropdown-toggle.btn-danger.focus:focus,
.dropdown-toggle.btn-primary.focus:focus,
.btn.btn-danger:focus:focus,
.btn.btn-primary:focus:focus,
.open > .dropdown-toggle.btn-danger:focus:focus,
.open > .dropdown-toggle.btn-primary:focus:focus,
.dropdown-toggle.btn-danger:focus:focus,
.dropdown-toggle.btn-primary:focus:focus,
.btn.btn-danger:active:focus,
.btn.btn-primary:active:focus,
.open > .dropdown-toggle.btn-danger:active:focus,
.open > .dropdown-toggle.btn-primary:active:focus,
.dropdown-toggle.btn-danger:active:focus,
.dropdown-toggle.btn-primary:active:focus,
.btn.btn-danger:hover:active,
.btn.btn-primary:hover:active,
.open > .dropdown-toggle.btn-danger:hover:active,
.open > .dropdown-toggle.btn-primary:hover:active,
.dropdown-toggle.btn-danger:hover:active,
.dropdown-toggle.btn-primary:hover:active,
.btn.btn-danger.focus:active,
.btn.btn-primary.focus:active,
.open > .dropdown-toggle.btn-danger.focus:active,
.open > .dropdown-toggle.btn-primary.focus:active,
.dropdown-toggle.btn-danger.focus:active,
.dropdown-toggle.btn-primary.focus:active,
.btn.btn-danger:focus:active,
.btn.btn-primary:focus:active,
.open > .dropdown-toggle.btn-danger:focus:active,
.open > .dropdown-toggle.btn-primary:focus:active,
.dropdown-toggle.btn-danger:focus:active,
.dropdown-toggle.btn-primary:focus:active,
.btn.btn-danger:active:active,
.btn.btn-primary:active:active,
.open > .dropdown-toggle.btn-danger:active:active,
.open > .dropdown-toggle.btn-primary:active:active,
.dropdown-toggle.btn-danger:active:active,
.dropdown-toggle.btn-primary:active:active {
  color: #fff;
  background-color: #a20000;
  border-color: #bb0000;
}
.pagination > li a {
  color: #3c0000;
}
.pagination > li.active > a,
.pagination > li.active > span {
  color: #fff;
  background-color: #bb0000;
  border-color: #d40000;
}
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus,
.pagination > li.active > a:active,
.pagination > li.active > span:active {
  color: #fff;
  background-color: #a20000;
  border-color: #bb0000;
}
/*
 * Layout(s) Styles
 * 
 * Styles for each layout that the website may use.
 */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
html body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
html body .page {
  margin-bottom: 60px;
}
html body .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
html body.iframe-compatible {
  margin-bottom: 0;
}
html body.iframe-compatible .page {
  margin-bottom: 0;
}
html body.iframe-compatible .footer {
  height: 0;
  border: none;
}
/* Custom page CSS
-------------------------------------------------- */
body > .layout-view > .layout > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
/*
 * Header(s) Styles
 * 
 * Styles for each area header that the website may use.
 */
.navbar-default {
  background-color: #47413a;
  border-color: #39342f;
}
.navbar-default .navbar-nav > li > a {
  color: #dad9d8;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #b5b3b1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .open > a:active {
  color: #b5b3b1;
  background-color: #39342f;
}
/*
 * Footer(s) Styles
 * 
 * Styles for each area footer that the website may use.
 */
footer.footer {
  background-color: #47413a;
  border-top: 1px solid #39342f;
}
footer.footer .text-muted {
  color: #dad9d8;
  font-size: .8em;
}
body.scoreboard .game-scoreboard {
  clear: both;
  width: 100%;
}
body.scoreboard .game-scoreboard > header .game-header {
  padding: 0 8px;
}
body.scoreboard .game-scoreboard > header .game-header .game-title {
  margin: 0 0 10px;
}
body.scoreboard .game-scoreboard > section {
  /* Begin ::-webkit Scrollbar CSS Color Code by http//:snapbuilder.com */
}
body.scoreboard .game-scoreboard > section #scoreboard-navigation {
  min-width: 370px;
}
body.scoreboard .game-scoreboard > section #scoreboard-navigation .game-round-navigation {
  display: block;
}
body.scoreboard .game-scoreboard > section #scoreboard-navigation .game-round-navigation nav ul.pagination {
  display: block;
  padding: 0;
  margin: 0;
}
body.scoreboard .game-scoreboard > section #scoreboard-navigation .host-actions {
  text-align: right;
  display: block;
}
body.scoreboard .game-scoreboard > section #scoreboard-navigation .host-actions #mobile-menu .dropdown-menu {
  right: 0;
  left: auto;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  margin: 0 auto;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
  padding: 4px 8px;
  border: 1px solid #fff;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr th,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr th {
  background-color: #880000;
  color: #fff;
  border-bottom-color: #d40000;
  border-top-color: #6f0000;
  border-left-color: #6f0000;
  border-right-color: #6f0000;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr th.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr th.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr th.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr th.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr th.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr th.team {
  border-bottom-color: #554e45;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr th.team span,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr th.team span,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr th.team span,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr th.team span,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr th.team span,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr th.team span {
  font-size: 200%;
  font-weight: bold;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td {
  height: 54px !important;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td.team,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td.team {
  background-color: #47413a;
  color: #dad9d8;
  font-size: 16px;
  padding-top: 6px;
  border-bottom-color: #71685c;
  border-top-color: #39342f;
  border-left-color: #39342f;
  border-right-color: #71685c;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td.question-score,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td.question-score,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td.question-score,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td.question-score,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td.question-score,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td.question-score {
  height: 54px;
  text-align: center;
  background-color: #fff;
  color: #47413a;
  padding-top: 0px;
  border-top: 1px solid #cecccb;
  border-right: 1px solid #cecccb;
  border-bottom: 1px solid #dad9d8;
  border-left: 1px solid #dad9d8;
  white-space: nowrap;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td.question-score input {
  width: 75px;
  margin: 0 8px;
}
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td.question-score button,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td.question-score button,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td.question-score button,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td.question-score button,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td.question-score button,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td.question-score button,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table thead tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable thead tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned thead tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table tbody tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.dataTable tbody tr td.question-score input,
body.scoreboard .game-scoreboard > section #scoreboard_wrapper.dataTables_wrapper table.DTFC_Cloned tbody tr td.question-score input {
  display: inline-block;
}
body.scoreboard .game-scoreboard > section div#scoreboard_wrapper.dataTables_wrapper div.DTFC_ScrollWrapper div.DTFC_LeftBodyWrapper div.DTFC_LeftBodyLiner {
  overflow-y: hidden !important;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-track {
  background-color: #47413a;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-track:active {
  background: #39342f;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-thumb {
  background: #6f0000;
  border: 2px solid #47413a;
  border-radius: 20px;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-thumb:hover {
  background: #880000;
  border-color: #47413a;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-thumb:active {
  background: #a20000;
  border-color: #39342f;
}
body.scoreboard .game-scoreboard > section ::-webkit-scrollbar-corner {
  background: transparent;
}
.store.item-details .page-header {
  margin-top: 0;
}
.store.item-details .price {
  color: #286090;
}
.store.item-details .price .regular-price {
  text-decoration: line-through;
  color: #888;
}
.store.item-details .item-qty-subtotal {
  margin-top: 15px;
}
.store.item-details .tab-pane.active {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 0 0 4px 4px;
  border-top: none;
  margin-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */