<div class="page admin hosts">

    <div class="well well-sm pull-right">
        <div class="btn-group btn-group-sm" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-info" ng-click="buttonOpenNewAddHostModal()"><i class="fa fa-plus"></i> Add New Host</button>
        </div>
    </div>
    <div class="page-header">
        <h1>Trivia Hosts</h1>
    </div>
      
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    <table
        data-datatable=""
        data-dt-options="dtHosts.options"
        data-dt-columns="dtHosts.columns"
        data-dt-instance="dtHosts.instance"
        class="table table-hover"></table>


  

</div>