<div class="page host dashboard">
    
    <div class="host-controls pull-right">
        <button ng-click="buttonNewGame()" class="btn btn-primary">Start New Game</button> 
        <button ng-click="buttonInviteFriend()" class="btn btn-primary">Invite Player</button> 
        <button ng-click="buttonCreateTeam()" class="btn btn-primary">Create Team</button>
    </div>
    
    <div class="page-header">
        <h1>Host Dashboard</h1>
    </div>
    
    <div class="alert alert-warning" role="alert" ng-repeat="game in hostActiveGames">
        <p class="pull-left">
            <strong>Active Game:</strong> <a data-ui-sref="app.host.game({'gameId' :{{game.id}}, 'roundNumber' : 1 })">{{game.name}}</a>
        </p>
        <div class="pull-right">
            <button data-ui-sref="app.host.game({'gameId' :{{game.id}}, 'roundNumber' : 1 })" class="btn btn-primary btn-sm">Edit Scores</button>
            <button ng-click="buttonCheckinTeam(game.id)" class="btn btn-primary btn-sm">Checkin Team</button>
            <button ng-click="buttonEndGame(game.id)" class="btn btn-primary btn-sm">End Game</button>
        </div>
    </div>
    
    <table
        data-datatable=""
        data-dt-options="dtGames.options"
        data-dt-columns="dtGames.columns"
        data-dt-instance="dtGames.instance"
        class="table table-dark"></table>
</div>