<div class="page host dashboard">
    
    <div class="host-controls pull-right">
        <button ng-click="buttonNewGame()" class="btn btn-primary">Start New Game</button> 
        <button ng-click="buttonInviteFriend()" class="btn btn-primary">Invite Friend</button> 
        <button ng-click="buttonCreateTeam()" class="btn btn-primary">Create Team</button>
    </div>
    
    <div class="page-header">
        <h1>Host Dashboard</h1>
    </div>
    
    <div class="alert alert-warning" role="alert" ng-repeat="game in hostActiveGames">
        <p><strong>Active Game:</strong> {{game.name}}
        <a data-ui-sref="app.host.game({'gameId' :{{game.id}}, 'roundNumber' : 1 })" class="alert-link pull-right">View Game</a></p>
    </div>
    
    <table
        data-datatable=""
        data-dt-options="dtGames.options"
        data-dt-columns="dtGames.columns"
        data-dt-instance="dtGames.instance"
        class="table table-dark"></table>
</div>