<div class="page admin venues">
    
    <div class="well well-sm pull-right">
        <div class="btn-group btn-group-sm" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-info"  ng-click="buttonOpenNewVenueModal()"><i class="fa fa-plus"></i> Add Joint</button>
            <button type="button" class="btn btn-info" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a ng-click="buttonOpenNewGameModal()">Schedule Game</a></li>
                <li role="menuitem"><a ng-click="buttonOpenNewTeamModal()">New Team</a></li>
                <li role="menuitem"><a ng-click="buttonOpenNewVenueModal()">Add Joint</a></li>
            </ul>
        </div>
    </div>
    
    <div class="page-header">
        <h1>Trivia Joints</h1>
    </div>
      
    <div data-rc-bootstrap-alerts="alertProxy"></div>

    <table
        data-datatable=""
        data-dt-options="dtVenues.options"
        data-dt-columns="dtVenues.columns"
        data-dt-instance="dtVenues.instance"
        class="table table-hover"></table>

    
</div>