<div class="modal-header">
    <h3 ng-if="newMode" class="modal-title">Add Question to Round #{{game.round.number}}</h3>
    <h3 ng-if="!newMode && editMode" class="modal-title">Edit Question #{{saved.number}} in Round #{{game.round.number}}</h3>
    <h3 ng-if="!newMode && !editMode" class="modal-title">Question #{{saved.number}} in Round #{{game.round.number}}</h3>
</div>

<div class="modal-body">

    <div data-rc-bootstrap-alerts="alertProxy"></div>

    <form ng-if="!editMode" class="form-horizontal">

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Text</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">"{{saved.question}}"</p>
            </div>
        </div>

        <div class="form-group" ng-hide="editing.wager === '1'">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Default Points</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">{{saved.maxPoints | numberEx}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Game #{{game.id}}</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">{{game.name}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Round #{{game.round.number}}</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">{{game.round.name}}</p>
            </div>
        </div>

        <div class="form-group" ng-show="editing.wager === '1'">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Wager Question</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">Players may place a wager for this question.</p>
            </div>
        </div>

        <div class="meta" ng-if="!newMode && saved.created">
            <hr/>
            <p class="text-muted"><strong>Created:</strong> {{saved.created | formatMySQLDate}} by {{saved.createdBy}}</p>
            <p class="text-muted"><strong>Updated:</strong> {{saved.lastUpdated | formatMySQLDate}} by {{saved.updatedBy}}</p>
        </div>

    </form>

    <form ng-if="editMode" name="form.modalForm" role="form" class="form-horizontal" novalidate>

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Game #{{game.id}}</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">{{game.name}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Round #{{game.round.number}}</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">{{game.round.name}}</p>
            </div>
        </div>

        <div class="form-group" ng-if="!newMode">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Question #{{saved.number}}</label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <p class="form-control-static">{{saved.question}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Text <small>(optional)</small></label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <input class="form-control" name="question" ng-model="editing.question" type="text" maxlength="255" />
            </div>
        </div>

        <div class="form-group" ng-if="editing.wager === '0'">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label">Default Points</label>
            <div class="col-xs-7 col-sm-2">
                <input class="form-control" name="maxPoints" ng-model="editing.maxPoints" type="number" maxlength="9" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-5 col-sm-4 col-md-3 control-label"></label>
            <div class="col-xs-7 col-sm-8 col-md-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                            ng-true-value="'1'"
                            ng-false-value="'0'"
                            ng-model="editing.wager"> Players may place a wager for this question.
                    </label>
                </div>
            </div>
        </div>
    </form>

</div>

<div ng-if="!editMode" class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="buttonEdit()">Edit</button>
    <button class="btn btn-primary" ng-click="buttonCancel()">Done</button>
</div>

<div ng-if="editMode" class="modal-footer">
    <button class="btn btn-warning pull-left" ng-if="!newMode" ng-click="buttonDelete()">Delete</button>

    <button class="btn btn-default" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="newMode" ng-click="buttonNew()">Add</button>
    <button class="btn btn-primary" ng-if="!newMode" ng-click="buttonSave()">Save</button>
</div>