<style>
    .page.auth.login {
        
    }
</style>

<div class="page auth login">
        
    <div class="row">
        <div class="col-xs-0 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
                
            <div class="logo text-center">
                <img src="/media/images/trivia-joint-logo.png" alt="Trivia Joint" />
            </div>
                            
            <form name="form.terms" role="form" novalidate>
                
                <uib-alert ng-repeat="alert in termsAlerts" type="{{alert.type}}" close="closeAlert(termsAlerts, $index)">{{alert.msg}}</uib-alert>
                
                <div class="form-group">
                    
                    <ul class="list-group">
                      <li class="list-group-item" ng-click="newUser.triviaLove = 'hot'"><label>
                            <input type="radio" ng-model="newUser.triviaLove" value="hot" required>
                            I Love Trivia!
                        </label>
                      </li>
                      <li class="list-group-item" ng-click="newUser.triviaLove = 'warm'">
                        <label>
                            <input type="radio" ng-model="newUser.triviaLove" value="warm" required>
                            I Play Occasionally
                        </label>
                      </li>
                    </ul>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="newUser.acceptTerms" ng-true-value="true" ng-true-value="false" required> Agree to our terms of <a href="http://www.triviajoint.com/terms-and-conditions/" target="_blank">terms of service</a>.
                    </label>
                </div>
                
            </form>
                            
            <hr/>

            <div class="form-group">
                <a ng-click="facebookSignup()" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span>
                    Sign up with Facebook
                </a>
            </div>

            <hr/>
                
            <form name="form.signup" role="form" novalidate>
            
                <uib-alert ng-repeat="alert in signupAlerts" type="{{alert.type}}" close="closeAlert(signupAlerts, $index)">{{alert.msg}}</uib-alert>
                
                <div class="form-group">
                    <input ng-model="newUser.nameFirst" type="text" class="form-control" name="nameFirst" placeholder="Joe" required>
                </div>
                
                <div class="form-group">
                    <input ng-model="newUser.nameLast" type="text" class="form-control" name="nameLast" placeholder="Trivia" required>
                </div>
                
                <div class="form-group">
                   <input ng-model="newUser.email" type="email" class="form-control" name="email" placeholder="best-email@example.com" required>
                </div>
                
                <div ng-if="false" class="alert alert-info" role="alert">
                    <p><strong>Passwords Must:</strong></p>
                    <ul>
                        <li>Be at least 8 characters in length.</li>
                        <li>Contain at least one letter and number.</li>
                    </ul>
                </div>
            
                <div class="form-group">
                     <input ng-model="newUser.password" type="password" class="form-control" name="password" placeholder="Enter password" required>
                </div>
                
                <div class="form-group">
                    <input ng-model="newUser.passwordB" type="password" class="form-control" name="passwordB" placeholder="Enter password again" required>
                </div>
                          

            <hr />
            
            <button type="submit" class="btn btn-block  btn-primary" ng-click="signup()">Sign Up without Facebook</button>
            
        </div>
        <div class="col-xs-0 col-sm-3"></div>
    </div>

</div>
