<div class="modal-header">
    <h3 ng-if="newMode" class="modal-title">Create New Team</h3>
    <h3 ng-if="!newMode && editMode" class="modal-title">Edit Team #{{saved.id}} - {{saved.name}}</h3>
    <h3 ng-if="!newMode && !editMode" class="modal-title">Team #{{saved.id}} - {{saved.name}}</h3>
</div>

<div class="modal-body">
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    
    <div ng-if="!editMode && !logMode">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Team Name</label>
                    <p class="form-control-static">{{saved.name}}</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Home Joint</label>
                    <p class="form-control-static">{{saved.homeVenue}}</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Members</label>
                    <ol>
                        <li ng-repeat="players in saved.players">{{players.name}}</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="meta" ng-if="!newMode && (saved.created || saved.lastUpdated)">
            <hr/>
            <p ng-show="saved.created" class="text-muted"><strong>Created:</strong> {{saved.created | formatMySQLDate}} <span ng-show="saved.createdBy">by {{saved.createdBy}}</span></p>
            <p ng-show="saved.lastUpdated" class="text-muted"><strong>Updated:</strong> {{saved.lastUpdated | formatMySQLDate}} <span ng-show="saved.updatedBy">by {{saved.updatedBy}}</span></p>
        </div>

    </div>
    
    <form ng-if="editMode" name="form.modalForm" role="form" novalidate>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Team Name</label>
                    <input placeholder="Clever Team Name" class="form-control" name="name" ng-model="editing.name" type="text" maxlength="255" required />
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Home Joint</label>
                    <div rc-trivia-select-list-venue="editing.venue" teams-list-data="venuesList"></div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <label>Invite Team Members</label>
                <div class="form-group" ng-repeat="player in editing.players">
                    <input ng-if="!player.id" placeholder="Player Email" ng-model="player.email" class="form-control" type="email" maxlength="255" />
                    <input ng-if="player.id" placeholder="Player Name" ng-model="player.name" ng-readonly="true" class="form-control" type="text" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-sm pull-right" ng-click="buttonNewEmailField()">Invite Another Player</button>
                </div>
            </div>
        </div>
    </form>

    
    <div ng-if="logMode">
        <label>Team Checkin Logs</label>
                    
        <table
            data-datatable=""
            data-dt-options="dtTeamCheckins.options"
            data-dt-columns="dtTeamCheckins.columns"
            data-dt-instance="dtTeamCheckins.instance"
            class="table table-hover"></table>
    </div>
</div>

<div ng-if="!editMode" class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="buttonEdit()">Edit</button>
    <button class="btn btn-primary pull-left" ng-click="buttonViewCheckinLog()">Checkin Log</button>
    <button class="btn btn-primary" ng-click="buttonCancel()">Done</button>
</div>

<div ng-if="editMode" class="modal-footer">
    <button class="btn btn-warning pull-left" ng-if="false" ng-click="buttonDelete()">Delete</button>
    
    <button class="btn btn-default pull-left" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="newMode" ng-click="buttonNew()">Create Team</button>
    <button class="btn btn-primary" ng-if="newMode && currentGameId" ng-click="buttonNew(currentGameId)">Create & Add to Game</button>
    <button class="btn btn-primary" ng-if="!newMode" ng-click="buttonSave()">Save</button>
    <button class="btn btn-primary" ng-if="!newMode && currentGameId" ng-click="buttonSave(currentGameId)">Save & Add to Game</button>
</div>