/*
 * Typography Styles
 * 
 * General typography and text elements style overrides.
 */

body {
    background-color: #800 !important;
    background-image: url('/media/images/trivia-background.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kalam', cursive;
    color: white;
    font-size: 16px;
    
    .auth .container {
        .logo {
            padding: 30px 0 50px;
        }
        
        .list-group-item label {
            color: #000;
        }
        
        .btn-danger {
            background-color: lighten(#880000, 10%);
            border-color: lighten(#880000, 15%);
            &:hover {
                background-color: lighten(#880000, 5%);
                border-color: lighten(#880000, 10%);
            }
        }
    }
    
    
    .align-right, .text-right {
        text-align: right;
    }
    .align-center, .text-center {
        text-align: center;
    }
    .align-left, .text-left {
        text-align: left;
    }
}