/*
 * Table Styles
 * 
 * DataTable and standard Table style overrides.
 */

table.table.dataTable {
    border-bottom: 1px solid #e3e3e3;
    width: 100% !important;
    thead {

        tr th {
            background-color: #f5f5f5;
            border-color: #e3e3e3;
            font-size: .9em;
            padding: 8px 4px 4px;

            /* Sorting Icon */
            &.sorting,
            &.sorting_asc, 
            &.sorting_desc, 
            &.sorting_asc_disabled, 
            &.sorting_desc_disabled {
                padding-right: 25px;
                &:after {
                    bottom: 4px;
                    right: 8px;
                }
            }
            /* End: Sorting Icon */
        }
    }
    tbody {
        tr {
            /* Responsive Controls */
            td.responsive-control i.fa:before {
                content: "\f105";
            }
            &.parent td.responsive-control i.fa:before {
                content: "\f107";
            }

            /* Responsive sub table */
            &.child {
                padding: 0;
                td.child {
                    padding: 5px 25px;
                    table.sub-table {
                        border: 1px solid #ccc;
                        margin: 0;
                    }
                }
            }
            td {
                word-wrap: break-word;
                word-break: break-word;
                white-space: normal;
                font-size: .9em;
                padding: 4px; // Thin out normal bootstrap padding
            }
        }
    }
}
div.dataTables_wrapper div.row {
    div.dataTables_filter {
        text-align: right;
    }
    div.dataTables_info {
        font-size: .8em;
        text-align: center;
    }
    div.dataTables_length {
        font-size: .8em;
    }
    div.dataTables_paginate {
        text-align: right;
    }
}
@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.row {
        div.dataTables_filter {
            text-align: right;
        }
        div.dataTables_info {
        }
        div.dataTables_paginate {
            text-align: center;
        }
    }
}
@media screen and (min-width: 768px) {
    div.dataTables_wrapper div.row {
        div.dataTables_info {
            text-align: right;
        }
        div.dataTables_paginate {
            text-align: center;
        }
    }
}
@media screen and (min-width: 992px) {
    div.dataTables_wrapper div.row {
        div.dataTables_info {
            text-align: left;
        }
    }
}

body:not(.admin) {
    .dataTables_length select {
        color: #fff;
        background-color: @medium-brown;
        border-color: lighten(@medium-brown, 15%);
    }
}
table.table.dataTable {
    &.table-dark,  
    &.table-dark table.sub-table {
        border-color: darken(@brick-red, 5%);
        
        /* Responsive sub table */
        tbody tr.child td.child table.sub-table {
            border: 2px solid @brick-red;
        }
        
        tr {
            border-color: darken(@brick-red, 5%);

            th {
                background-color: @brick-red;
                color: #fff;
                border-bottom-color: lighten(@brick-red, 15%);
                border-top-color: darken(@brick-red, 5%);
                border-left-color: darken(@brick-red, 5%);
                border-right-color: darken(@brick-red, 5%);
            }

            td {
                border-color: darken(@brick-red, 5%);
            }
        }

        &.table-striped {
            >thead {
                th {
                    background-color: @brick-red;
                    color: #fff;
                    border-bottom-color: lighten(@brick-red, 15%);
                    border-top-color: darken(@brick-red, 5%);
                    border-left-color: darken(@brick-red, 5%);
                    border-right-color: darken(@brick-red, 5%);
                }
            }
            >tbody {
                background-color: lighten(@brick-red, 1%);
                &>tr:nth-of-type(odd) {
                    background-color: darken(@brick-red, 2%);
                }
            }
        }
    }
}

div.grid.grid-dark {
    border-color: darken(@brick-red, 5%);
 
    div.ui-grid-header {
        border-bottom-color: lighten(@brick-red, 15%);
        
        div.ui-grid-top-panel {
            background: @brick-red;
                
            div.ui-grid-header-cell {
                background: @brick-red;
                color: #fff;
                border-color: darken(@brick-red, 5%);
                
            }
            div.ui-grid-cell {
                background: @brick-red;
                color: #fff;
                border-color: darken(@brick-red, 5%);
                
            }
        }
    }
    
    div.ui-grid-canvas {
        div.ui-grid-row {
            
            .ui-grid-cell {
                background: lighten(@brick-red, 1%);
                border-color: darken(@brick-red, 5%);
            }
            
            &:nth-child(even) {
                .ui-grid-cell {
                    background: darken(@brick-red, 2%);
                }
            }
        }
    }
    
    // Custom Scrollbar
    /* Begin ::-webkit Scrollbar CSS Color Code by http//:snapbuilder.com */
    ::-webkit-scrollbar {
        width:20px;
        height:17px;
        margin-top: 10px;
    }
    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    ::-webkit-scrollbar-track {
        background-color: @medium-brown;
        &:active {
            background: darken(@medium-brown, 5%);
        }
    }
    ::-webkit-scrollbar-thumb {
        background: darken(@brick-red, 5%);
        border: 2px solid @medium-brown;
        border-radius:20px;
        &:hover {
            background: @brick-red;
            border-color: @medium-brown;
        }
        &:active {
            background: lighten(@brick-red, 5%);
            border-color: darken(@medium-brown, 5%);
        }
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    } 
       
       
    /* Menue */
    .ui-grid-menu .ui-grid-menu-inner {
        background-color: (@brick-red);
        border-color: lighten(@brick-red, 15%);
        
         ul li:not(:last-child)>button {
            border-color: lighten(@brick-red, 15%);
        }
    }
}

div.leaderboard-controls {
    
    select {
        display: inline-block;
        color: #fff;
        background-color: @medium-brown;
        border-color: lighten(@medium-brown, 15%);
    }
}

div.grid-length {
    
    label {
        display: inline-block;
        white-space: nowrap;
    }
    select {
        display: inline-block;
        color: #fff;
        background-color: @medium-brown;
        border-color: lighten(@medium-brown, 15%);
    }
}

.leaderboard-img-cell {
    img.leaderboard-img {
        width: 100%;
        height: auto;
        max-width: 100px;
    }
}