/*
 * Typography Styles
 * 
 * General typography and text elements style overrides.
 */

body {
    background-color: black;
    font-family: 'Kalam', cursive;
    color: white;
    
    .auth .container .logo {
        padding: 20px 0;
    }
    
    
    .align-right, .text-right {
        text-align: right;
    }
    .align-center, .text-center {
        text-align: center;
    }
    .align-left, .text-left {
        text-align: left;
    }
}