@scoreboardWidth: 200px;
@scoreboardRowHeight: 54px;
@scoreboardHeaderHeight: @scoreboardRowHeight * 2;
.game-scoreboard {
    border: 1px solid @medium-brown;
    clear: both;
    width: 100%;
    
    >header {
        border-bottom: 1px solid @medium-brown;
        display: table-row;
        >div {
            display: table-cell;
        }
        
        
        .game-header {
            padding: 0 8px;
            .game-title {
                margin: 0 0 10px;
            }
            .game-host {
                
            }
        }
        
        .game-round-navigation nav {
            text-align: center;
            ul {
                padding: 0;
                margin: 20px 0 10px;
            }
        }
    }
    
    >section {
        table {
            td {
                width: @scoreboardWidth !important;
                padding: 0 8px;
                margin: 0;
            }
            th {
                width: @scoreboardWidth !important;
                padding: 0 0 0 8px;
                margin: 0;
                background-color: @brick-red;
                color: #fff;
                border-bottom: 1px solid lighten(@brick-red, 15%);
                border-top: 1px solid darken(@brick-red, 5%);
            }
            .team {
                height: @scoreboardRowHeight;
                background-color: @medium-brown;
                color: @pale-brown;
                font-size: 16px;
                padding-top: (@scoreboardRowHeight / 2) - (@scoreboardRowHeight / 2);
                border-bottom: 1px solid lighten(@medium-brown, 15%);
                border-top: 1px solid darken(@medium-brown, 5%);
            }
            
            .question-score {
                height: @scoreboardRowHeight;
                text-align: center;
                background-color: @pale-brown;
                color: @medium-brown;
                padding-top: (@scoreboardRowHeight / 2) - (@scoreboardRowHeight / 2);
                border-top: 1px solid darken(@pale-brown, 5%);
                border-right: 1px solid darken(@pale-brown, 5%);
                border-bottom: 1px solid lighten(@pale-brown, 15%);
                border-left: 1px solid lighten(@pale-brown, 15%);
                white-space: nowrap;
                
                input {
                    width: 75px;
                    margin: 0 8px;
                }
                button, input {
                    display: inline-block;
                }
            }
        }
    }
    
    >footer {
        >div {
        }
    }
}