/*
 * Footer(s) Styles
 * 
 * Styles for each area footer that the website may use.
 */
 
 // Footer layout in page-layout
 
 footer.footer {
    background-color: @medium-brown;
    border-top: 1px solid darken(@medium-brown, 5%);
    
    .text-muted {
        color: @pale-brown;
        font-size: .8em;
    }
 }