<div class="modal-header">
    <h3 class="modal-title">Add Team To Game</h3>
</div>

<div class="modal-body">
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    <form name="form.addTeam" role="form" novalidate>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Game Name</label>
                    <input class="form-control" ng-model="game.name" data-game-id="game.id" type="text" readonly />
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <label>Select Existing Team</label>
                <select 
                    ng-options="team.label + ' (#' + team.id + ')' for team in teamsList" 
                    ng-model="addTeam"
                    class="form-control" required>
                    <option value="">Select a Team</option>
                </select>
            </div>
        </div>
    </form>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="buttonAddTeam()">Add Team</button>
</div>