<div class="page member dashboard">
    
    <div class="host-controls visible-xs-block visible-xs-block pull-right">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="buttonInviteFriend()">Invite Friend</a></li>
                <li role="menuitem"><a ng-click="buttonCreateTeam()">Create Team</a></li>
            </ul>
        </div>
    </div>
    
    <div class="host-controls hidden-xs hidden-xs pull-right">
        <button ng-click="buttonInviteFriend()" class="btn btn-primary">Invite Friend</button> 
        <button ng-click="buttonCreateTeam()" class="btn btn-primary">Create Team</button>
    </div>   
    
    <div class="page-header">
        <h1>Player Dashboard</h1>
    </div>
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    <p class="lead">{{playerGreeting}}</p>
    
    <hr/>
    
    <div class="alert alert-warning" role="alert" ng-repeat="invite in currentPlayer.notices.teamInvites">
        
        <p class="pull-left">
            <strong>You're Invited!</strong> {{invite.fromPlayer}} has invited you to join the team "{{invite.teamName}}".
        </p>
        
        <div class="pull-right">
            <button ng-click="buttonDeclineInvitation(invite.token, invite.teamName, invite.teamId)" class="btn btn-primary btn-sm">Decline</button>
            <button ng-click="buttonAcceptInvitation(invite.token, invite.teamName, invite.teamId)" class="btn btn-primary btn-sm">Accept</button>
        </div>
    </div>
    
    <table
        data-datatable=""
        data-dt-options="dtGames.options"
        data-dt-columns="dtGames.columns"
        data-dt-instance="dtGames.instance"
        class="table table-dark"></table>
</div>