<div class="page member dashboard">
    
    <div class="host-controls pull-right">
        <button ng-click="buttonInviteFriend()" class="btn btn-primary">Invite Friend</button> 
        <button ng-click="buttonCreateTeam()" class="btn btn-primary">Create Team</button>
    </div>
    
    <div class="page-header">
        <h1>Player Dashboard</h1>
    </div>
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    <table
        data-datatable=""
        data-dt-options="dtGames.options"
        data-dt-columns="dtGames.columns"
        data-dt-instance="dtGames.instance"
        class="table table-dark"></table>
</div>